TextField.empty{
    -fx-border-color: orange;
    -fx-border-widht: 2px;
}
PaswordField.empty{
    -fx-border-color: orange;
    -fx-border-widht: 2px;
}


TextField.error{
    -fx-border-color: orange;
    -fx-border-widht: 2px;
}
PaswordField.error{
    -fx-border-color: orange;
    -fx-border-widht: 2px;
}




